@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rampart+One&display=swap');

/* bright blue #18A0FB */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC700;
}

body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    /* font-family: 'Comfortaa', 'Montserrat', sans-serif; */
}