
.container {
    padding: 20px;
    border: 3px solid #f78fb3;
}

.h2{
    color: #303952;
}

.conjugParams {
    /* background-color: turquoise; */
    background-color: #f8a5c2;
    color: #303952;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.answer {
    padding: 10px 0px;
    font-size: 16px;
}

.keyboard{
    padding: 10px;
}

.symbol{
    width: 25px;
    height: 25px;
    font-size: 16px;
}