
.container {
    min-width: 320px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left:10px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #222224;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 0px 0px #000000;
}

.h2{
    color: #303952;
    font-weight: 700;
}


.table{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
} 

.tableRow {
    display: flex;
    justify-content: space-between;
}

 .tableCell {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* padding: 5px 5px; */
    /* max-width: min-content; */
}

.answerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.linkBack {
    width: 40px;
    height: 40px;
    fill: darkslateblue;
    margin-bottom: 20px;
}

.buttonField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}